git+https://github.com/huggingface/transformers.git@v5.16.1
peft
bitsandbytes
accelerate
datasets
librosa
soundfile
scipy
tensorboard
protobuf
sentencepiece
huggingface_hub
datasets==2.21.0
torchvision
