git+https://github.com/huggingface/transformers.git@v4.57.6
peft
bitsandbytes
accelerate
datasets
librosa
soundfile
scipy
tensorboard
protobuf
sentencepiece
huggingface_hub
datasets==5.0.1
torchvision
